

.hexagon{
  --hexHeigh : 0em; /*Needs to be overrite*/
  --hexWidth : 0em; /*Needs to be overrite*/
  --hexBackground: white; /*Needs to be overrite*/

  background: var(--hexBackground);
  height: var(--hexHeigh);
  width: var(--hexWidth);
  position: relative;
  z-index: 1;
}
.hex-regular{
  width: Calc(0.576923 *  var(--hexHeigh));
}
.hexagon::before{
  position: absolute;
  content: ' ';
  left: Calc(0% - var(--hexHeigh));
  height: var(--hexHeigh);
  width: var(--hexHeigh);
  border-top: Calc(var(--hexHeigh)/2) solid transparent;
  border-bottom: Calc(var(--hexHeigh)/2) solid transparent;
  border-left: Calc(var(--hexHeigh)/2) solid transparent;
  border-right: Calc(var(--hexHeigh)/3 ) solid var(--hexBackground);
}
.hexagon::after{
  position: absolute;
  content: ' ';
  right: Calc(0% - var(--hexHeigh));
  height: var(--hexHeigh);
  width: var(--hexHeigh);
  border-top: Calc(var(--hexHeigh)/2) solid transparent;
  border-bottom: Calc(var(--hexHeigh)/2) solid transparent;
  border-left: Calc(var(--hexHeigh)/3) solid var(--hexBackground);
  border-right: Calc(var(--hexHeigh)/2) solid transparent;
}

.name-div{
  border-radius: 28px;
  height: 53px;
  width: 420px;
  top:-32px;
  background-color: var(--bg-name);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  color: white;
}

.hex-item-border{
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  transition:0.1s;
  animation-name: translate;
  animation-duration: 1s;
}

.hex-item-border:hover{
  transform: scale(1.05);
}

.bar{
  width: 70%;
  max-height: 15px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  border-radius: 28px;
}

.bar-intern{
  max-height: 15px;
  border-radius: 28px;
}

#bar1 > .progress-bar{
  background-color: var(--bg-bar-hp);
}
#bar2 > .progress-bar{
  background-color: var(--bg-bar-exp);
}

.name{
  top: 3px;
  left: 20px;
}

.lvl{
  top: 3px;
  right: 20px;
}